<% include inc/header %>
<div id="main">
    <div id="main-inner">
        <!-- <h1><%= page.title %></h1> -->
        <div id="page-content"><%- page.content %></div>
    </div>
</div>
<% include inc/footer %>
