<% include inc/header %>
<div id="main">
    <div id="main-inner">
        <!-- <h1><%= page.title %></h1> -->
        <div id="page-content"><%- page.content %></div>

        <!-- Duoshuo Comment BEGIN -->	
		<div class="ds-thread"></div>
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"twobin"};	
		(function() {		
		var ds = document.createElement('script');		
		ds.type = 'text/javascript';ds.async = true;		
		ds.src = 'http://static.duoshuo.com/embed.js';		
		ds.charset = 'UTF-8';		
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);	})();
		</script>
		<!-- Duoshuo Comment END -->
        
    </div>
</div>
<% include inc/footer %>
